<h2> Create a Mosaic! </h2>


<div id='navbar' class='row'>
  <div class='col-xs-12'>
    <%= link_to 'Sign Out', user_path(id: current_user.id), method: :delete, class: 'btn btn-danger btn-sm right' %>
    <!--<%= link_to 'Settings', user_path(id: current_user.id), class: 'btn btn-primary btn-sm right' %>-->
    <%= link_to 'Profile', user_path(id: current_user.id), class: 'btn btn-info btn-sm right' %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#upload_modal"> Upload Pictures </button>

  </div>
</div>
</br>
<div class='row'>
  <div class='col-xs-12'>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#select_modal"> Select Pictures </button>

  </div>
</div>



<!-- Upload Images Modal -->
<%= render 'modals/upload' %>
<!-- Choose Images Modal -->
<%= render 'modals/select' %>

<%= javascript_tag do %>
  window.composition_pictures = <%= raw @user.composition_pictures.to_json %>
  window.base_pictures        = <%= raw @user.base_pictures.to_json %>
  window.mosaics              = <%= raw @user.mosaics.to_json %>
<% end %>