<div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  
    <div class="modal-content">
      
      <%= simple_form_for @user, url: change_password_path, method: 'post', html: { class: 'form-signin' } do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class: 'modal-title form-heading', id: 'myModalLabel'> Change Password </h4>
        </div>

        <div class="modal-body">

          <%= f.input_field :password, placeholder: 'Password', class: 'form-control' %>
          <%= f.input_field :password_confirmation, placeholder: 'Confirmation', class: 'form-control' %>
          <%= f.input_field :new_password, placeholder: 'New Password', class: 'form-control last-form-control' %>
          
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.button :submit, 'Update', class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>