<div class="modal fade" id="select_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  
    <div class="modal-content">
      
      <%= simple_form_for @user, url: mosaics_path, method: 'post' do |f| %>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class: 'modal-title', id: 'myModalLabel'> Select Pictures </h4>
        </div>

        <div class="modal-body">
          
          <% base_url = "https://s3.amazonaws.com/afr-mosaic/#{@user.email}" %>
          <!-- Create lists of selectable images mapped to check boxes and radio buttons created below for composition and base pictures respectively. Tied together in Mosaics.js -->
          <h5> Composition Pictures </h5>
          <% @user.composition_pictures.each do |c| %>
            <%= image_tag "#{base_url}/composition-pictures/#{c.name}", size: '96x60', id: "cimg-sel-#{c.id}", class: 'checked' %>
          <% end %>

          <h5> Base Pictures </h5>
          <% @user.base_pictures.each do |b| %>
            <%= image_tag "#{base_url}/base-pictures/#{b.name}", size: '96x60', id: "bimg-sel-#{b.id}", class: 'image-list' %>
          <% end %>

          <!-- Hide the check boxes and radio buttons, only need images to display -->
          <div id='hidden_div'>
            <!-- Create lists of check boxes and radio buttons representing composition and base pictures respectively. These are controlled by clicks on images. 
               - Check box/radio button IDs: user_[composition/base]_picture_ids_[id] -->
            <%= f.association :composition_pictures, collection: @user.composition_pictures, as: :check_boxes, include_hidden: false, class: 'image-checkbox' %>
            <%= f.association :base_pictures, collection: @user.base_pictures, class: 'image-radiobutton', as: :radio_buttons %>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <%= f.button :submit, 'Create Mosaic', class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>
  </div>
</div>


<%= javascript_tag do %>
  window.composition_pictures = <%= raw @user.composition_pictures.to_json %>
  window.base_pictures        = <%= raw @user.base_pictures.to_json %>
  window.mosaics              = <%= raw @user.mosaics.to_json %>
<% end %>